# ASGI (Asynchronous Server Gateway Interface) - спецификация для асинхронных веб-серверов
asgiref==3.7.2

# Django - основной веб-фреймворк для разработки сайта
Django>=4.2.17

# SQLParse - библиотека для парсинга SQL-запросов, используется Django ORM
sqlparse>=0.5.0

# TZData - база данных часовых поясов, необходима для работы с датами и временем
tzdata==2023.3

# Pillow - библиотека для работы с изображениями (загрузка, обработка, сохранение)
Pillow>=10.3.0

# Python-dotenv - для загрузки переменных окружения из файла .env
python-dotenv==1.0.0

# Requests - библиотека для HTTP-запросов
requests>=2.32.0

# Зависимости для requests
certifi>=2024.07.04
charset-normalizer==3.3.2
idna>=3.7
urllib3>=2.2.2

# dj-database-url - для настройки базы данных через URL
dj-database-url>=2.1.0
psycopg2>=2.9.9

# Gunicorn - WSGI HTTP Server
gunicorn

# WhiteNoise - для обработки статических файлов
whitenoise>=6.6.0

# uvicorn - ASGI сервер для запуска на Heroku
uvicorn==0.22.0

# fastapi - для работы на Heroku
fastapi==0.95.0

# sqlalchemy - для работы на Heroku
sqlalchemy==1.4.47

# python-jose - для работы на Heroku
python-jose==3.3.0

# passlib - для работы на Heroku
passlib==1.7.4

# pydantic - для работы на Heroku
pydantic==1.10.2

# python-multipart - для работы с формами в FastAPI
python-multipart==0.0.5

# Docutils - для обработки и форматирования текстовых документов
docutils==0.20.1
